config/local.js

node_modules

.tmp
dump.rdb

# nodejs
lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log

# editor
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history

# content
uploads

# BEM template engine
views/.enb/tmp/
views/libs/
views/*bundles*/merged/
views/*.bundles/*/*.*
views/*.bundles/*/*.*.*
!views/*bundles*/*/*.bemdecl.js
views/static/js/_merged.js
views/static/css/_merged.css
